{{>header}}

<script>
function runSimulation(){
    window.location = "http://localhost:8085/simulation"
}
</script>
Hey! We are at the Home Page
<a href="http://localhost:8085/simulation">run simulation</a>
<button onclick="runSimulation()">run simulation</button>

{{>footer}}