{{>header}}
{{sim}}
<div>
    Drawing winning FIVE: {{#winBalls}}
    {{.}}
    {{/winBalls}}
</div>
<div>
    Drawing ticket FIVE: {{#playBalls}}
    {{.}}
    {{/playBalls}}
</div>
<div>
    Amount of Wins: {{winMatches}}
</div>
<div>
    Winning Mega: {{winMega}}
</div>
<div>
    Ticket Mega: {{playMega}}
</div>
<div>
    Ticket Mega: {{winMegaMatch}}
</div>
{{>footer}}